.grid__item {
  margin-bottom: var(--spacing-1)
}
.grid__item p {
  margin-bottom: var(--spacing-1)
}
.grid__date {  
  font-weight: 500;
}
.grid__title {
  margin-bottom: 0;
}
.grid__mission {
  margin-bottom:var(--spacing-1);
}